p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
nav > ul > li:first-of-type {
  background:   #9ffc97  !important;
}
li.part > span, h1, h2 {
	color: #578c53 !important;
}